<div class="container">  
  <form id="contact" action="" method="post" [formGroup]="postiForm" (ngSubmit)="postipost()" novalidate>
    <h3>add a post</h3>
    <fieldset>
      <input placeholder="username" formControlName="username" type="text" tabindex="1" >
    </fieldset>
    <fieldset>
      <input placeholder="description" formControlName="description"type="text" tabindex="2" required>
    </fieldset>
    
    <fieldset>
      <div class="col-md-2 col-sm-offset-5 ">
        <div class="picture-container">
          <div class="picture">
            <img src="assets/img/Images.png" class="picture-src" id="wizardPicturePreview" title=""/>
            <input type="file" name="file" id="wizard-picture" aria-invalid="false" class="valid" accept="image/*" (change)="selectImage($event)"/>
          </div>
          <h6>Choose Picture</h6>
        </div>
      </div>    </fieldset>
    <fieldset>
      <button name="submit"[disabled]="!postiForm.valid" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>